* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: 10px auto;
}

.card {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  margin: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #333;
  color: #fff;
  margin: 1rem;
}
