/* start writing all your rules starting with #nav selector */
/* background color for fourth element: #ffd9b3; */
/* #nav {
  display: flex;
  justify-content: space-between;
} */
#nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

#nav ul li {
  flex: 1;
}

#nav ul li:hover > ul {
  display: block;
}
#nav ul li:hover ul li {
  position: relative;
}
#nav ul li:hover ul li > ul {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -100%;
  bottom: 0;
}

#nav ul:first-child > li:nth-child(4) > a {
  background-color: #ffd9b3;
}
